.main {
  padding: 6rem;
}

.controls {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em;
  gap: 1em;
}

.controls > label {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.5em;
}