.main hgroup {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  font-family: var(--font-outfit);
}

.main hgroup > p:first-of-type {
  grid-column: 1;
  grid-row: 1 / span 2;
  align-self: center;
}

.main hgroup img {
  max-width: 30vw;
  height: auto;
}

.main hgroup h1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: min(5em, 20vw);
}

.main hgroup h1 > span {
  background: var(--nitrogql-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.main hgroup > p:last-of-type {
  font-size: 1.5em;
  font-weight: bold;
}

.main main {
  max-width: min(90vw, 1200px);
  margin-inline: auto;
}

.main main > p:first-of-type {
  font-size: 1.2em;
}

section.features > h2 {
  font-family: var(--font-outfit);
  font-size: 1.8em;
  font-weight: bold;
  border-image: var(--nitrogql-gradient) 8;
  border-bottom: 8px solid;
  margin: 0.5em 0 1em;
}

section.features > h3 {
  width: fit-content;
  margin: 0.5em 0;
  font-family: var(--font-outfit);
  font-size: 1.4em;
  font-weight: 600;
  border-bottom: 2px solid rgb(var(--nitrogql-red));
}

section.features p + p {
  margin-top: 0.75em;
}

section.features figure {
  width: min(640px, 90vw);
  border-radius: 1em;
  overflow: clip;
  background-color: rgba(var(--nitrogql-red), 0.08);
}

section.features figure img {
  width: min(640px, 90vw);
  height: auto;
}

section.features figure figcaption {
  padding: 0.25em 1em 1em;
  font-size: 0.9em;
}